footer {
  text-align: center;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 0.7;
  font-weight: bold;
  font-family: sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(cloud.animebeast.ru/site-src/error404-temp.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.return {
  position: fixed;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  top: 5%;
  left: 5%;
  padding: 18px 37px;
  border: 3px solid #00e77d;
  box-shadow: 10px 10px 0 #010042;
  transition: .1s;
}

.return:hover {
  box-shadow: -10px -10px 0 #fe38c1;
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7))

}

.numberError {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: #fff;
  margin: 0;
  font-size: 200px;
  letter-spacing: 10px;
}

.error::before, .error::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.error::before {
  color: #010042;
  animation: glitch 1s infinite;
}

.error::after {
  color: #00e77d;
  animation: glitch 2s infinite;
}

.notFound {
  color: #fff;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 0 25px;
  border-left: 20px solid #fe38c1;
  border-right: 20px solid #010042;
}

@keyframes glitch {
  0% {
    top: -7px;
    left: -5px;
  }
  25% {
    top: 0px;
    left: -5px;
  }
  50% {
    top: 7px;
    left: 5px;
  }
  75% {
    top: 0px;
    left: 7px;
  }
  100% {
    top: -7px;
    left: -5px;
  }
}