
@font-face {
    font-family: MainFont; /* Гарнитура шрифта */
    src: url(fonts/main.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MainFont1; /* Гарнитура шрифта */
    src: url(fonts/mainfont.otf); /* Путь к файлу со шрифтом */
}

html{
	background-color: #70afaf;
	background-image: url(img/bckg_nightmode.jpg);
	background-size: cover;
}

/**{
	cursor: url(src/cursors/gaming/white/default.cur), default;
}*/

body{
	overflow-x: hidden;
	margin: 0;
	background-color: rgba(0,0,0,.3);
}

.content {
  font-family: MainFont1;
  margin: 20px;
  padding: 8px;
  background-color: rgba(0,0,0,.3);
  border-radius: 20px;
  color: #FFFFFF;
  font-size: large;
}

/*.header1{
	font-size: 150%;
	color: #FFFFFF;
	font-family: MainFont1, light;
	position: fixed;
	background-color: #000000;
	left: 0;
	top: 0;
	width: 100%;
	padding: 15px;
}
*/

/*body {
  margin: 0;
  font-family: Arial;
}*/

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  color: #FFFFFF;
  font-family: MainFont1;
  padding: 1px 13px;
  backdrop-filter: blur(3px);
  background-color: rgba(0,0,0,.3);
  /*background: #555;*/
  /*color: #f1f1f1;*/
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}